.container{
    text-align: center;
    margin-top:23px;
}
table{
    margin:auto;
}
input{
    border: 5px  solid rgb(89, 102, 95);
    font-size : 32px;
    border-radius:21px;
     
}
button{
    font-size:35px;
    background: greenyellow;
    width:97px;
    height:52px;
    border-radius:21px;
}
.Calculator{
    background-color: aqua;
    padding:21px;
    border-radius:52px;
    display: inline-block;

}